<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <header>
        <h1>¡Bienvenido a la aplicación!</h1>
    </header>
    <main>
        <section>
            <h2>Introducción</h2>
            <p>Esta es la página de inicio de nuestra aplicación de gestión de productos y carritos. Aca puedes:</p>
            <ul>
                <li>Ver todos los productos disponibles</li>
                <li>Filtrar y ordenar productos</li>
                <li>Agregar nuevos productos</li>
                <li>Gestionar carritos de compras</li>
            </ul>
        </section>
        <section>
            <h2>Funciones Principales</h2>
            <p>Nuestra aplicación ofrece las siguientes funcionalidades:</p>
            <ul>
                <li>Gestión de productos con filtros, paginación y ordenamiento</li>
                <li>Creación y actualización de carritos de compras</li>
                <li>Eliminación de productos de los carritos</li>
            </ul>
        </section>
        <section>
            <h2>Documentación</h2>
            <p>Para más información sobre cómo utilizar la API, puedes consultar nuestra documentación</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Aplicación de Gestión</p>
    </footer>
</body>
</html>
